body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
  background-color: #f6f8ff;
}

.main-header {
  display: flex;
  width: 730px;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.header-btn {
  display: flex;
  height: 40px;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 2.5px;
  color: #697c9a;
  transition: 0.2s;
}

.header-btn:hover {
  cursor: pointer;
  color: #222731;
}

.header-btn:hover svg {
  fill: #222731;
}

.header-btn svg {
  margin-left: 16px;
  fill: #697c9a;
  transition: 0.2s;
}

.user-search-form {
  width: 730px;
  display: flex;
  align-items: center;
  padding: 22px 12px 22px 32px;
  background-color: #fefefe;
  border-radius: 14px;
  box-shadow: 0 8px 16px #4660bb33;
  margin-top: 36px;
}

.user-search-form img {
  display: inline-block;
}

.user-search-input {
  margin-left: 24px;
  background-color: #ffffff00;
  border: none;
  outline: none;
}
